<div>
    <div class="container w-50 mt-5">
        <h2>Inicie sesion</h2>
        <form class="p-2 w-100" [formGroup]="logInForm" (ngSubmit)="logIn()">
            <div>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input matInput id="nombre" formControlName="name"
                    [class.is-invalid]="nombreControl.invalid && nombreControl.touched">
                </mat-form-field>
                <mat-error *ngIf="nombreControl.hasError('required') && nombreControl.touched">
                    Nombre es <strong>requerido</strong>
                </mat-error>
                <br>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Apellido</mat-label>
                    <input matInput id="apellido" formControlName="lastName"
                    [class.is-invalid]="apellidoControl.invalid && apellidoControl.touched">
                </mat-form-field>
                <mat-error *ngIf="apellidoControl.hasError('required') && apellidoControl.touched">
                    Apellido es <strong>requerido</strong>
                </mat-error>
                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput id="email" aria-describedby="emailHelp" formControlName="email"
                    [class.is-invalid]="emailControl.invalid && emailControl.touched">
                </mat-form-field>
                <mat-error *ngIf="emailControl.hasError('email') && emailControl.touched && !emailControl.hasError('required')">
                    Ingrese un email valido
                </mat-error>
                <mat-error *ngIf="emailControl.hasError('required') && emailControl.touched">
                Email es <strong>requerido</strong>
                </mat-error>
                <!-- <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" id="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field> -->
                <button mat-stroked-button color="primary" type="submit">Log in</button>
            </div>
        </form>
    </div>
    <router-outlet></router-outlet>
</div>