<div class=" container p-2 w-50 mt-5"> 
    <h1 class=" p-2 w-50 mt-5">REGISTRO DE ALUMNOS</h1>
    <form class=" p-2 w-100" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <mat-form-field class="w-100">
                <mat-label>Nombre</mat-label>
                <input matInput id="nombre" formControlName="name"
                [class.is-invalid]="nameControl.invalid && nameControl.touched">
            </mat-form-field>
            <mat-error *ngIf="nameControl.hasError('required') && nameControl.touched">
                Nombre es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="nameControl.hasError('pepe') && nameControl.touched">
                Nombre invalido
            </mat-error>
        </div>
        <div class="mb-3">
            <mat-form-field class="w-100">
                <mat-label>Apellido</mat-label>
                <input matInput id="apellido" formControlName="lastName"
                [class.is-invalid]="lastNameControl.invalid && lastNameControl.touched">
            </mat-form-field>
            <mat-error *ngIf="lastNameControl.hasError('required') && lastNameControl.touched">
                Apellido es <strong>requerido</strong>
            </mat-error>
        </div>
        <div class="mb-3">
            <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <input matInput id="email" aria-describedby="emailHelp" formControlName="email"
                [class.is-invalid]="emailControl.invalid && emailControl.touched">
            </mat-form-field>
            <mat-error *ngIf="emailControl.hasError('email') && emailControl.touched && !emailControl.hasError('required')">
                Ingrese un email valido
            </mat-error>
            <mat-error *ngIf="emailControl.hasError('required') && emailControl.touched">
            Email es <strong>requerido</strong>
            </mat-error>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Agregar</button>
    </form>
</div>
<app-alumnos-tabla [items]="dataSource"></app-alumnos-tabla>

