.example-container {
    width: 100%;
    height: 100vh;
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    padding: 40px;
  }

  .menu-item{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    list-style: none;
  }
  
  .menu-title{
    text-align: center;
    font-size: 36px;
  }
  
  .menu-link{
    text-decoration: none;
    color: #3f51b5;
  }

  .menu-link:hover{
    text-decoration: underline;
  }

  .menu{
    padding-left: 0;
    padding-top: 20px;
  }
  .logout{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .usuario{
    margin-bottom: 0;
    padding: 10px;
  }