<mat-drawer-container class="example-container" autosize>
    <mat-toolbar color="primary">
        <button mat-icon-button type="button" class="example-icon example-sidenav-content" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
        </button>
        <span>App Alumnos</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <div  class="m-5">
        <h1>¡Bienvenido!</h1>
    <h3>{{ (usuario$ | async)?.name }} {{ (usuario$ | async)?.lastName }}</h3>
    </div>
    <mat-drawer #drawer class="sidenav" mode="side">
        <h3 class="menu-title">MENU</h3>
        <ul class="menu">
            <li class="menu-item"><a class="menu-link" [routerLink]="links[0].path">{{links[0].title}}</a></li>
            <li class="menu-item"><a class="menu-link" [routerLink]="links[1].path">{{links[1].title}}</a></li>
            <li class="menu-item"><a class="menu-link" [routerLink]="links[2].path">{{links[2].title}}</a></li>
        </ul>
    </mat-drawer>
    <router-outlet></router-outlet>
</mat-drawer-container>





  
