.aside{
    width: var(--aside_width);
    height: calc(100vh - var(--navbar_height));
    background-color: #2d3839;
}
.titulo-aside{
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding: 10px;
    color:#e0e4ce;
}

.lista li{
    padding-top:10px;
    font-size: 24px;
    color: #e0e4ce;
    font-weight: bold;
}