/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
:root{
    --navbar_height:64px;
    --aside_width:25%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
