.home{
    position: absolute;
    top: var(--navbar_height);
    left: var(--aside_width);
    padding: 15px;
}
.home-title{
    font-size:48px ;
    color: #27191c;
}
.home p{
    width: 70%;
    font-size: 18px;
}